################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opensdf
*.sdf
*.suo
*.user
/code/Runtime/Debug/*
/code/tm2sqllite/Debug/*
/code/TMApi/Debug/*
/code/TMFileReader/Debug/*
/code/tm2sqllite/ipch
